<div class="list comments">
    {% for comment in comments %}
        <div class="comment" id="comment_{{comment.id}}">
            {% if comment.parent %}
                <span class="reply">Ответ: {{ comment.parent }}</span>
            {% endif %}
            <div>
                <p>{{ comment.content }}</p>
                <span>{{comment.author.first_name}} {{comment.author.last_name}}</span>
                <button onclick="showReplies({{comment.id}})" class="button_as_span">{{comment.replies.all|length}} Ответов</button>
                {% if user.is_authenticated %}
                    {% if perms.cars_manager.add_comment %}
                        <button onclick="showReplyForm({{comment.id}})" class="button_as_span">Ответить</button>
                    {% endif %}
                    {% if comment.author.id == user.id %}
                        <a href="{% url 'delete_comment' comment.id %}">Удалить</a>
                    {% endif %}
                {% endif %}
            </div>
            
            <div id="{{comment.id}}_reply_container" style="display: none;">
                <!-- <button class="button_as_span">Отмена</button> -->
                {% if perms.cars_manager.add_comment %}
                    {% include 'cars_manager/includes/comment_form.html' with form=create_comment_form reply_to=comment.id %}
                {% endif %}
            </div>

            <div class="replies" id="{{comment.id}}_replies" style="display: none;">
                {% include 'cars_manager/includes/comments_list.html' with comments=comment.replies.all %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function showReplyForm(comment_id) {
        let replyOverlay = document.getElementById(`${comment_id}_reply_container`);
        if (replyOverlay.style.display == 'none') {
            replyOverlay.style.display = 'block';
        } else {
            replyOverlay.style.display = 'none';
        }
    }

    function showReplies(comment_id) {
        let repliesDiv = document.getElementById(`${comment_id}_replies`);
        if (repliesDiv.style.display == 'none') {
            repliesDiv.style.display = 'block';
        } else {
            repliesDiv.style.display = 'none';
        }
    }
</script>